{{! 作者信息 }}
{{#author}}
    <div class="widget widget-profile">
        {{#if image}}
            <a class="widget-profile-logo" href="{{url}}">
                <img src="{{image}}" alt="{{@blog.title}}" />
            </a>
        {{/if}}
        <span class="widget-profile-title label label-xlg label-minty arrowed-in arrowed-in-right">{{name}}</span>
        <hr>
        <p class="widget-profile-desc">
            {{#if bio}}{{bio}}{{/if}}
        </p>
        <hr>
        <div class="author-meta">
            {{#if location}}<span class="author-location"><i class="fa fa-map-marker"></i> {{location}}</span>{{/if}}
            {{#if website}}<span class="author-link"><i class="fa fa-link"></i> <a href="{{website}}">{{website}}</a></span>{{/if}}
            <span class="author-stats"><i class="fa fa-file-text-o"></i> {{plural ../pagination.total empty='作者很懒，什么都木有留下。' singular='只发表了 % 篇文章，有点少哎。' plural='共计发表 % 篇文章，继续努力。'}}</span>
        </div>
    </div>
{{/author}}
