{{! Everything inside the #author tags pulls data from the author }}
{{#author}}

{{#if image}}
<figure class="author-image">
    <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
</figure>
{{/if}}
<div class="author-info">
    <div class="author-info-title">
        <h5><time class="post-date pull-right" datetime="{{date format='YYYY-MM-DD'}}">最后编辑：{{date format="YYYY-MM-DD"}}</time></h5>
        <h5>作者：{{name}}</h5>
        <!-- <div class="author-meta">
            {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
            {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
        </div> -->
    </div>
    <div class="author-info-content">
        {{#if bio}}
        <span class="author-info-bio">{{bio}}</span>
        {{else}}
        <p>Read <a href="{{url}}">more posts</a> by this author.</p>
        {{/if}}
        <section class="author-social">
            {{#if website}}<a href="{{website}}" class="author-social-website">我的站点</a>{{/if}}
            <a href="{{url}}" class="author-social-feature">我的专栏</a>
            <a href="#" class="author-social-weibo">新浪微博</a>
            <a href="#" class="author-social-sf">SegmentFault</a>
        </section>
    </div>
    <!-- <section class="share">
        <h4>Share this post</h4>
        <a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <span class="hidden">Twitter</span>
        </a>
        <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        <span class="hidden">Facebook</span>
        </a>
        <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
        onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
        <span class="hidden">Google+</span>
        </a>
    </section> -->
</div>

{{/author}}
