<div id="content" class="content col-sm-12 col-md-8 col-lg-8">
    {{#is "tag"}}
    {{! 标签信息 }}
    <section class="tag-meta {{#if @tag.image}}" style="background-image: url({{@tag.image}}){{else}}no-cover{{/if}}">
        <div class="tag-meta-content">
            <label class="page-title">{{t "Tag"}}：{{tag.name}}</label>
            <span class="page-description">
                {{#if tag.description}}
                    {{tag.description}}
                {{else}}
                    {{plural pagination.total empty=(t "No posts") singular=(t "A collection of 1 post") plural=(t "A collection of % posts")}}
                {{/if}}
            </span>
        </div>
    </section>
    {{/is}}
    {{! This is the post loop - each post will be output using this markup }}
    {{#foreach posts}}
    <article class="{{post_class}}" data-anijs="if: scroll, on: window, do: fadeInDown animated, before: scrollReveal">
        <header class="post-header">
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt words="20"}} ... </p>
        </section>
        <footer class="post-meta">
            <span class="post-meta-item post-meta-author">
                <i class="fa fa-user"></i>
                {{authors limit="1"}}
            </span>
            <span class="post-meta-item post-meta-date">
                <i class="fa fa-clock-o"></i>
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date timeago="ture"}}</time>
                {{!-- <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">({{date format="YYYY-MM-DD"}})</time> --}}
            </span>
            {{#if tags}}
            <span class="post-meta-item post-meta-tags">
                <i class="fa fa-tag"></i>
                {{tags}}
            </span>
            {{/if}}
            <span class="post-meta-item post-meta-reading_time">
                <i class="fa fa-clock-o"></i>
                {{reading_time}}
            </span>
            <span class="post-meta-item post-read-more pull-right">
                <a class="read-more" href="{{url}}">{{t "Read More"}} <i class="fa fa-angle-double-right"></i></a>
            </span>
        </footer>
    </article>
    {{/foreach}}

    {{! Previous/next page links - displayed on every page }}
    {{pagination}}
</div>
