{{! Everything inside the #author tags pulls data from the author }}
{{#author}}
{{#if profile_image}}
<figure class="author-image">
    <a class="img" href="{{url}}" style="background-image: url({{img_url profile_image}})"><span class="hidden">{{name}}'s Picture</span></a>
</figure>
{{/if}}
{{/author}}
<figure class="author-info">
    <section class="author-info-title">
        <span><time class="post-date pull-right" datetime="{{date format='YYYY-MM-DD'}}">发表于：{{date format="YYYY-MM-DD"}}</time></span>
        {{#author}}
        <span>作者：{{name}}</span>
    </section>
    <section class="author-info-content">
        {{#if bio}}
            <span class="author-info-bio">{{bio}}</span>
        {{else}}
            <p>查看此作者的 <a href="{{url}}">更多文章</a> 。</p>
        {{/if}}
        <section class="author-info-social">
            {{#if website}}<a href="{{website}}" class="author-info-social-website">我的站点</a>{{/if}}
            <a href="{{url}}" class="author-info-social-feature">我的专栏</a>
            <a href="http://weibo.com/17064042" class="author-info-social-weibo">新浪微博</a>
            <a href="https://github.com/xiaoluoboding" class="author-info-social-github">GitHub</a>
            <a href="https://segmentfault.com/u/xlbd" class="author-info-social-sf">SegmentFault</a>
        </section>
        {{/author}}
    </section>
</figure>
