{{! Everything inside the #author tags pulls data from the author }}
{{#primary_author}}
{{#if profile_image}}
<figure class="author-image">
    <a class="img" href="{{url}}" style="background-image: url({{img_url profile_image}})"><span class="hidden">{{name}}'s Picture</span></a>
</figure>
{{/if}}
{{/primary_author}}
<figure class="author-info">
    <section class="author-info-title">
        <span class="pull-right">{{t "Publish At"}}：<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="YYYY-MM-DD"}}</time></span>
        {{#primary_author}}
        <span>{{t "Author"}}：{{name}}</span>
    </section>
    <section class="author-info-content">
        {{#if bio}}
            <span class="author-info-bio">{{bio}}</span>
        {{else}}
            <p class="author-info-bio-placeholder">{{t "Read"}} <a href="{{url}}">{{t "more posts"}}</a> {{t "by this author"}}</p>
        {{/if}}
        <section class="author-info-social">
            {{!-- {{#if website}}<a href="{{website}}" class="author-info-social-website">我的站点</a>{{/if}} --}}
            {{!-- <a href="{{url}}" class="author-info-social-feature">我的专栏</a> --}}
            <a href="https://github.com/JiapengLi" class="author-info-social-github" target="_blank">{{t "Github"}}</a>
            <a href="https://twitter.com/morlcy" class="author-info-social-twitter" target="_blank">{{t "Twitter"}}</a>
            <a href="https://www.jianshu.com/u/834d1f33a402" class="author-info-social-js" target="_blank">{{t "Jianshu"}}</a>
            <a href="https://www.douban.com/people/54062577" class="author-info-social-db" target="_blank">{{t "Douban"}}</a>
        </section>
        {{/primary_author}}
    </section>
</figure>
