{{! 站点信息 }}
<div class="widget widget-profile">
    <div class="widget-profile-cover overlay {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}"></div>
    <div class="widget-profile-header">
        <a class="widget-profile-logo" href="{{@blog.url}}">
            {{#if @blog.logo}}
                <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
            {{else}}
                <img src="{{asset "img/user-image.png"}}" alt="{{@blog.title}}" />
            {{/if}}
        </a>
    </div>
    <span class="widget-profile-title label label-xlg label-minty arrowed-in arrowed-in-right">{{@blog.title}}</span>
    <hr>
    <p class="widget-profile-desc">
        {{#if @blog.description}}
            {{@blog.description}}
        {{else}}
            <em><a href="{{@blog.url}}/ghost/settings/general/">(添加站点描述)</a></em>
        {{/if}}
    </p>
    <hr> {{> "site_stat"}}
    <hr> {{> "social"}}
</div>
