{{! 站点统计 }}
<nav class="navigation site-stat">
    <div class="site-stat-item">
        <span class="site-stat-item-count">
            {{! count posts }}
            {{#get "posts" as |posts postPages|}}
                {{! Use our pages (pagination) object }}
                <strong>{{postPages.total}}</strong>
            {{/get}}
        </span>
        <span class="site-stat-item-name">{{t "Profile Posts"}}</span>
    </div>
    <div class="site-stat-item">
        <span class="site-stat-item-count">
            {{#get "posts" filter="featured:true" as |featured featuredPages|}}
                <strong>{{featuredPages.total}}</strong>
            {{/get}}
        </span>
        <span class="site-stat-item-name">{{t "Profile Featured"}}</span>
    </div>
    <div class="site-stat-item">
        <span class="site-stat-item-count">
            {{! count tags }}
            {{#get "tags" as |tags tagPages|}}
                {{! Use our pages (pagination) object }}
                <strong>{{tagPages.total}}</strong>
            {{/get}}
        </span>
        <span class="site-stat-item-name">{{t "Profile Tags"}}</span>
    </div>
</nav>
