{{! 社交信息 }}
<nav class="navigation social">
    <ul class="social">
        <li>
            <a href="https://www.douban.com/people/54062577/" target="_blank" class="social-douban">
                <i class="fa fa-xlg" aria-hidden="true" data-original-title="{{t "Douban"}}" data-rel="tooltip"><b>豆</b></i>
            </a>
        </li>

        <li>
            <a href="https://twitter.com/morlcy" target="_blank" class="social-twitter">
                <i class="fa fa-xlg fa-twitter" data-original-title="{{t "Twitter"}}" data-rel="tooltip"></i>
            </a>
        </li>

        <li>
            <a href="https://github.com/JiapengLi" target="_blank" class="social-github">
                <i class="fa fa-xlg fa-github" data-original-title="{{t "Github"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="http://music.163.com/#/user/home?id=492784915" target="_blank" class="social-music">
                <i class="fa fa-xlg fa-music" data-original-title="{{t "NeteaseMusic"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="mailto:mail@jiapeng.me" target="_blank" class="social-mail">
                <i class="fa fa-xlg fa-envelope-o" data-original-title="{{t "Contact Me"}}" data-rel="tooltip"></i>
            </a>
        </li>

        <li>
            <a href="http://weibo.com/2272867827" target="_blank" class="social-weibo">
                <i class="fa fa-xlg fa-weibo" data-original-title="{{t "Weibo"}}" data-rel="tooltip"></i>
            </a>
        </li>

        <li>
            <a href="/rss/" class="social-rss">
                <i class="fa fa-xlg fa-rss" data-original-title="{{t "RSS"}}" data-rel="tooltip"></i>
            </a>
        </li>
    </ul>
</nav>
