{{! 标签云 }}
<div class="widget widget-tag-cloud">
	<div class="widget-title">
		<div class="widget-title-meta">
			<i class="fa fa-tags"></i>&nbsp;
			<span class="title-meta-word">标签云</span>
		</div>
	</div>
	<div class="tag-cloud-content">
		<!-- {{#foreach tags}}
		<a href="{{url}}" class="tag-item">{{name}}<span class="post-count">{{post_count}}</span></a>
		{{/foreach}} -->
		{{! Tag Cloud }}
		{{#get "tags" limit="all" include="count.posts" order="count.posts desc" }}
			{{#foreach tags}}
				<a href="/tag/{{slug}}" class="tag-item">{{name}} ({{count.posts}})</a>
			{{/foreach}}
		{{/get}}
	</div>
</div>
