{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

{{> "header"}}

{{! The main container area on the homepage }}
<main id="container" class="container" role="main">
    <div id="content" class="content col-sm-12 col-md-12 col-lg-12">
        <article class="{{post_class}}">

            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
            </header>

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">
                {{> "post_author"}}
            </footer>

        </article>

        <aside class="post-nav">
            {{#prev_post}}
            <span class="post-nav-prev">
                <a href="{{url}}">
                    <i class="fa fa-chevron-left"></i>
                    {{title}}
                </a>
            </span>
            {{/prev_post}}

            {{#next_post}}
            <span class="post-nav-next">
                <a href="{{url}}">
                    {{title}}
                    <i class="fa fa-chevron-right"></i>
                </a>
            </span>
            {{/next_post}}
        </aside>

        {{> "comments"}}
        <div>
</main>
{{/post}}