{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header">
    <nav class="container main-nav clearfix">
        <div class="main-nav-title pull-left">
            <a class="blog-title" href="{{@blog.url}}">{{@blog.title}}</a>
        </div>
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
    </nav>
</header>

<main id="container" class="container" role="main">
    <div id="content" class="content col-sm-12 col-md-8 col-lg-8">
        <article class="{{post_class}}">
            <header class="post-header">
                <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
                <section class="post-meta">
                    <span class="post-meta-item">
                        <i class="fa fa-user"></i>
                        {{author}}
                    </span>
                    <span class="post-meta-item">
                        <i class="fa fa-clock-o"></i>
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date timeago="ture"}}</time>
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">({{date format="YYYY-MM-DD"}})</time>
                    </span>
                    <span class="post-meta-item post-meta-tags">
                        <i class="fa fa-tag"></i>
                        {{tags}}
                    </span>
                    <span class="post-meta-item pull-right">

                    </span>
                </section>
            </header>

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">
                {{> "post_author"}}
            </footer>
        </article>

        <aside class="post-nav">
            {{#prev_post}}
            <span class="post-nav-prev">
                上一篇
                <a href="{{url}}">
                    {{title}}
                </a>
            </span>
            {{/prev_post}}

            {{#next_post}}
            <span class="post-nav-next" >
                <a href="{{url}}">
                    {{title}}
                </a>
                下一篇
            </span>
            {{/next_post}}
        </aside>

        {{> "comments"}}
    </div>
    {{> sidebar}}
</main>
{{/post}}
