{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}
<header class="main-header">
    <nav class="container main-nav clearfix">
        <div class="main-nav-title pull-left">
            {{@blog.title}}
        </div>
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
    </nav>
</header>

{{! 标签信息 }}
<section class="container tag-meta {{#if @tag.image}}" style="background-image: url({{@tag.image}}){{else}}no-cover{{/if}}">
    <div class="tag-meta-content">
        <h2 class="page-title">{{tag.name}}</h1>
        <h3 class="page-description">
            {{#if tag.description}}
                {{tag.description}}
            {{else}}
                共计 {{pagination.total}} 篇文章
            {{/if}}
        </h3>
    </div>
</section>

{{! The main container area on the homepage }}
<main id="container" class="container" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

    {{> "sidebar"}}

</main>
